<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>55829183731-qp4d7ee1v66mgh1t5ceb0aqg2ge977gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55829183731-qp4d7ee1v66mgh1t5ceb0aqg2ge977gh</string>
	<key>API_KEY</key>
	<string>AIzaSyD742kSxBTaF-07SbKkzZBFNJeIuYV_kzg</string>
	<key>GCM_SENDER_ID</key>
	<string>55829183731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.cawasemi.push.sample</string>
	<key>PROJECT_ID</key>
	<string>notificationsample-e1a90</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationsample-e1a90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:55829183731:ios:d0282bc0c023a204</string>
	<key>DATABASE_URL</key>
	<string>https://notificationsample-e1a90.firebaseio.com</string>
</dict>
</plist>